:root{
    --white: #f2f2f2;
    --black: #222222;
    --primary: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section{
    scroll-margin-top: 4rem;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--white); */
    /* color: #fff; */
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--white);
}

.navbar .navbar-nav a, .navbar .navbar-extra a{
    color: var(--white);
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.navbar .navbar-nav a.highlight,
.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content:'';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-nav a.highlight::after{
    transform: scaleX(0.8);
}


#hamburger-menu{
    display: none;
}

/* HOME */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.home p{
    max-width: 30rem;
}

.home .content{
    display: flex;
}

.home .content .cta .social .linkedin-button{
    background-color: #0A66C2;
    color: #FFFFFF;
}
.home .content .cta .social .github-button{
    background-color: #0D1117;
    color: #FFFFFF;
}

/* ABOUT */

.about{
    padding: 5rem 7% 1.4rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.about .about-me{
    flex: 1;
    max-width: 50%;
}

.about .about-skills{
    max-width: 30%;
}

.about h1{
    text-align: left;
    font-size: 2.3rem;
    margin-bottom: 3rem;
}

.about .about-me p{
    margin-bottom: 0.8rem;
}

.about .about-skills .skills{
    display: flex;
    flex-wrap: wrap;
}

.about .about-skills .skills .skills-skill{
    padding: 0.5rem 1rem;
    margin-bottom: 0.2rem;
    margin-right: 0.4rem;
    font-size: 1rem;
    background: rgba(153, 153, 153, 0.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.about .about-skills .projects-button{
    display: none;
}

/* PROJECTS */

.projects{
    padding: 5rem 7% 1.4rem; 
    background-color: red;
}

@media(max-width: 768px){
    html{
        font-size: 75%
    }


}

@media(max-width: 425px){
    html{
        font-size: 60%
    }

    #hamburger-menu{
        display: inline-block;
        cursor: pointer;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--black);
        width: 25rem;
        height: 100vh;
        transition: 0.3s ease;   
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.7rem;
        text-align: center;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.18);
    }
}