:root{
    --white: #f2f2f2;
    --black: #222222;
    --primary: var(--white);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    /* background-color: var(--bg); */
    /* color: #fff; */
}

/* NAVBAR */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5%;
    background-color: var(--black);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--white);
}

.navbar .navbar-nav a, .navbar .navbar-extra a{
    color: var(--white);
    display: inline-block;
    margin: 0 0.5rem;
    font-size: 1.2rem;
}

.navbar .navbar-nav a.highlight,
.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content:'';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after,
.navbar .navbar-nav a.highlight::after{
    transform: scaleX(0.8);
}


#hamburger-menu{
    display: none;
}

/* HOME */

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home p{
    max-width: 30rem;
}

.home .content{
    display: flex;
}

@media(max-width: 768px){
    html{
        font-size: 75%
    }


}

@media(max-width: 425px){
    html{
        font-size: 60%
    }

    #hamburger-menu{
        display: inline-block;
        cursor: pointer;
    }

    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--black);
        width: 25rem;
        height: 100vh;
        transition: 0.3s ease;   
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.7rem;
        text-align: center;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.18);
    }
}